.extend-button {
  color: white;
  background-color: black;

  &--success {
    @extend .extend-button;
    background-color: $bg-color;
  }
}

.extend-container-info {
  @extend .container;
  background-color: yellowgreen;
  font-size: 20px;
}