$primary-color: hsl(35, 77%, 62%);
$secondary-color: red;
$info-color: #1abc9c;
$bg-color: #34495e;
$text-color: #ecf0f1;
$padding-10: 10px;

.info {
  // $bg-color: red !global;
  background-color: $bg-color;
}

.container {
  background-color: $bg-color;
  color: $text-color;
  padding: $padding-10;
}