:root {
  --green: #2ecc71;
  --blue: #3498db;
  --yellow: #f1c40f;
  --red: #e74c3c;
  --dark-blue: #34495e;
  --midnight-blue: #2c3e50;
  --light-white: #ecf0f1;
  --silver: #bdc3c7;

  --bg-color: var(--light-white);
  --text-color: var(--blue);
  --body-color: white;
  --link-color: var(--blue);
  --link-color-hover: var(--dark-blue);
}

:root[data-theme="dark"] {
  --body-color: var(--midnight-blue);
  --bg-color: var(--dark-blue);
  --text-color: var(--green);
}

/* RESET: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
}
/* HELPER */
.clear-fix {
  clear: both;
}


/* NAV */
header {
  background-color: var(--bg-color);
  min-height: 20px;
  padding: 20px 0;
}

header > nav {
  width: 800px;
  margin: 0 auto;
}

header > nav > ul {
  float: left;
  list-style: none;
}

header > nav > ul:last-of-type {
  float: right;
}

header > nav > ul > li {
  float: left;
  margin-right: 10px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--link-color);
  padding: 8px 12px;
  border-radius: 4px;
}

header > nav > ul > li > a:hover {
  color: var(--link-color-hover);
  background-color: var(--silver);
}

header > nav > ul > li:last-child > a {
  background-color: var(--blue);
  color: var(--bg-color);
}

header > nav > ul > li:last-child > a:hover {
  background-color: var(--dark-blue);
  color: var(--blue);
}