/* ASIDE  */
aside, section {
  float: left;
}

aside {
  width: 30%;
  padding: 20px;

  & > ul {
    list-style: none;
    
    & > li {
      margin-bottom: 10px;

      & > a {
        color: var(--link-color);
        padding: 6px 10px;
        display: block;

        &:hover {
          color: var(--text-color);
        }

      }

    }

  }

}
